USE [master]
GO
/****** Object:  Database [QuanLyCuaHangPet]    Script Date: 15-Jun-22 2:48:57 PM ******/
CREATE DATABASE [QuanLyCuaHangPet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCuaHangPet', FILENAME = N'D:\IT\Db\QuanLyCuaHangPet.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyCuaHangPet_log', FILENAME = N'D:\IT\Db\QuanLyCuaHangPet_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCuaHangPet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCuaHangPet]
GO
/****** Object:  StoredProcedure [dbo].[getAll]    Script Date: 15-Jun-22 2:48:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getAll]
as
begin
	select * from Userr
end

GO
/****** Object:  Table [dbo].[Cash]    Script Date: 15-Jun-22 2:48:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cash](
	[CashId] [int] IDENTITY(1,1) NOT NULL,
	[TransactionNo] [varchar](30) NOT NULL,
	[Pid] [varchar](30) NOT NULL,
	[Pname] [nvarchar](250) NOT NULL,
	[Quantity] [int] NULL,
	[Price] [int] NOT NULL,
	[Total] [int] NULL,
	[Cid] [int] NULL,
	[Cashier] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[CashId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 15-Jun-22 2:48:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[Cid] [int] IDENTITY(1,1) NOT NULL,
	[Cname] [nvarchar](250) NOT NULL,
	[Caddress] [nvarchar](250) NULL,
	[Cphone] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 15-Jun-22 2:48:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Pid] [int] IDENTITY(1,1) NOT NULL,
	[Pname] [nvarchar](250) NOT NULL,
	[Ptype] [nvarchar](250) NOT NULL,
	[Pcategory] [nvarchar](250) NOT NULL,
	[Pquantity] [int] NOT NULL,
	[Pprice] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TemporaryData]    Script Date: 15-Jun-22 2:48:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TemporaryData](
	[CashId] [int] IDENTITY(1,1) NOT NULL,
	[TransactionNo] [varchar](30) NOT NULL,
	[Pid] [varchar](30) NOT NULL,
	[Pname] [nvarchar](250) NOT NULL,
	[Quantity] [int] NULL,
	[Price] [int] NOT NULL,
	[Total] [int] NULL,
	[Cid] [int] NULL,
	[Cashier] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[CashId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Userr]    Script Date: 15-Jun-22 2:48:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Userr](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NOT NULL,
	[address] [nvarchar](250) NULL,
	[phone] [varchar](30) NULL,
	[role] [nvarchar](250) NOT NULL,
	[birth] [date] NULL,
	[password] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Cid], [Cname], [Caddress], [Cphone]) VALUES (1, N'Lê Bảo Phúc', N'Đà Nẵng, Việt Nam', N'0905111459')
INSERT [dbo].[Customer] ([Cid], [Cname], [Caddress], [Cphone]) VALUES (2, N'Hoàng Trọng Quân', N'Đà Nẵng, Việt Nam', N'')
INSERT [dbo].[Customer] ([Cid], [Cname], [Caddress], [Cphone]) VALUES (3, N'Nguyễn Đặng Hoàng Lâm', N'Đà Nẵng, Việt Nam', N'')
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Pid], [Pname], [Ptype], [Pcategory], [Pquantity], [Pprice]) VALUES (1, N'Betta', N'Betta', N'Fish', 300, 30000)
INSERT [dbo].[Product] ([Pid], [Pname], [Ptype], [Pcategory], [Pquantity], [Pprice]) VALUES (2, N'Goldfish', N'Goldfish', N'Fish', 100, 20000)
INSERT [dbo].[Product] ([Pid], [Pname], [Ptype], [Pcategory], [Pquantity], [Pprice]) VALUES (3, N'Angelfish', N'Angelfish', N'Fish', 100, 20000)
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[Userr] ON 

INSERT [dbo].[Userr] ([id], [name], [address], [phone], [role], [birth], [password]) VALUES (1, N'admin', N'Đà Nẵng, Việt Nam', N'0905111459', N'Administrator', CAST(0x95230B00 AS Date), N'admin')
INSERT [dbo].[Userr] ([id], [name], [address], [phone], [role], [birth], [password]) VALUES (2, N'cashier', N'Đà Nẵng, Việt Nam', N'', N'Cashier', CAST(0x25340B00 AS Date), N'cashier')
INSERT [dbo].[Userr] ([id], [name], [address], [phone], [role], [birth], [password]) VALUES (3, N'employee', N'Đà Nẵng, Việt Nam', N'', N'Employee', CAST(0xE0400B00 AS Date), N'')
SET IDENTITY_INSERT [dbo].[Userr] OFF
/****** Object:  Trigger [dbo].[total]    Script Date: 15-Jun-22 2:48:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[total]
on [dbo].[Cash]
for insert, update, delete
as
begin
	update dbo.Cash set Total = Quantity * Price
end

GO
/****** Object:  Trigger [dbo].[total2]    Script Date: 15-Jun-22 2:48:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[total2]
on [dbo].[TemporaryData]
for insert, update, delete
as
begin
	update dbo.TemporaryData set Total = Quantity * Price
end

GO
USE [master]
GO
